@using MVC4.Sample.Common.ViewModels
@model HomeViewModel
@{
    Layout = "~/Views/Layout/MasterPage.cshtml";
}
<h2>
    Home</h2>
@using (@Html.BeginForm())
{
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Age
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Peoples != null && Model.Peoples.Count > 0)
            {
                for (var index = 0; index < Model.Peoples.Count; index++)
                 {
                     <tr>
                         <td>
                             @Html.TextBoxFor(p => p.Peoples[index].Id)
                         </td>
                         <td>
                             @Html.TextBoxFor(p => p.Peoples[index].FullName)
                         </td>
                         <td>
                             @Html.TextBoxFor(p => p.Peoples[index].Age)
                             @Html.HiddenFor(p => p.Peoples[index].FirstName)
                             @Html.HiddenFor(p => p.Peoples[index].LastName)
                         </td>
                     </tr>
                 }
            }
        </tbody>
    </table>
    if (Model != null)
    {
        //Html.EditorFor(m => new StudenViewModel {Name = m.Student}, "Student");
        //Html.EditorFor(m => m.Student, "Student");
        Html.RenderPartial("Student", Model);
    }
    <input type="submit" value="Submit" name="Submit" />
    <input type="submit" value="Cancel" name="Cancel" />
}
