@model dynamic

@{
    ViewBag.Title = "Home";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>JQuery Touch</title>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.7.min.js")" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/nav.js")" charset="utf-8"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/native.history.js")" charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
        var ViewModel = null;
        var SPAViewModel = function () {
            var self = this;
            self.NextPosition = '';
            self.nav = new NavHistory({
                params: { view: "Page1" , next: ''},
                onNavigate: function (navEntry, current) {
                    //alert(current.isBack + current.isForward)

                    if (current.isBack) {
                        self.NextPosition = 'slideright';
                    }else if (current.isForward) {
                        self.NextPosition = 'slideleft';
                    } else if (navEntry.params.next == 'next') {
                        self.NextPosition = 'slideleft';
                    } else if (navEntry.params.next == 'back') {
                        self.NextPosition = 'slideright';
                    }
                    
                    $('#result').text(self.NextPosition);
                    var currentView = navEntry.params.view;
                    self.CurrentPage(currentView);
                }
            });

            self.GotoView = function (view, next) {
                self.nav.navigate({ view: view, next: next });
            };

            self.CurrentPage = ko.observable(self.nav.params().view);
            self.CurrentPage.subscribe(function (newValue, next) {
                //alert(self.nav.params().animation);
                $('#[id*=Page][id!=' + newValue + ']').stop().hide(300, function () {
                    $('#' + newValue).show(300);
                });
            });

            self.nav.initialize({ linkToUrl: true });
        };

        $(function () {
            ViewModel = new SPAViewModel();
            ko.applyBindings(ViewModel, document.getElementById('Main'));
        });
    </script>
</head>
<body>
    <div id="Main" data-bind="attr: {currentPage: CurrentPage()}">

        <div id="Page1" data-bind="click: function(){$root.GotoView('Page2', 'next')}">
            This is the Page1
        </div>
        <div id="Page2" style="display: none;" data-bind="click: function(){$root.GotoView('Page3', 'next')}">
            This is the Page2
        </div>
        <div id="Page3" style="display: none;" data-bind="click: function(){$root.GotoView('Page1', 'back')}">
            This is the Page3
        </div>
        <div id="result">
            
        </div>
    </div>

</body>
</html>




